<div class="col-sm-12">
  <div class="card text-center" style="width: 18rem;">
    
    <div class="card-header">
      {{ title }}
    </div>

    <label for="InputSelectLedMode">MODE</label>
    <select class="form-control" [(ngModel)]="ledProgramActive" (ngModelChange)="sendData()" name="ledProgram">
      <option [value]="i" *ngFor="let name of ledModes; let i = index">{{name}}</option>
    </select>

    <div class="card-body">
      <app-wifi-bar></app-wifi-bar>
        <div *ngIf="ledProgramActive==0">
          <app-color-slider name="red">   </app-color-slider>
          <app-color-slider name="green"> </app-color-slider>
          <app-color-slider name="blue">  </app-color-slider>
        </div>
    </div>

    <footer class="card footer">
      <app-log-view> </app-log-view>
    </footer>
  </div>
</div>