<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-block">

        <app-color-slider name="red">   </app-color-slider>

        <app-color-slider name="green"> </app-color-slider>

        <app-color-slider name="blue">  </app-color-slider>

    </div>
  </div>
  <footer class="card footer">
    <app-log-view> </app-log-view>
  </footer>
</div>



