<div> 
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-4">
    <a class="navbar-brand" href="#">BALED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  routerLink="/led" routerLinkActive="active">
          <a class="nav-link" routerLink="/led">Led</a>
        </li>
        <li class="nav-item" routerLink="/config" routerLinkActive="active">
          <a class="nav-link" routerLink="/config">Config</a>
        </li>
      </ul>
    </div>
  </nav>
</div>